bin/
build/**/*
out/
node_modules/
packages/**/*

*.ts
!*.d.ts

!build/wasm/*.js
!build/wasm/*.wasm

!packages/MultiMarkdown-6/CMakeLists.txt
!packages/MultiMarkdown-6/LICENSE
!packages/MultiMarkdown-6/lemon/*
!packages/MultiMarkdown-6/src/*
!packages/MultiMarkdown-6/templates/*
